{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
<!-- красная полоска -->
<div class="container-fluid pt-5 bg-danger">
    <div class="row justify-content-between">
        <div class="col d-flex justify-content-end">
        </div>
    </div>
</div>

<!-- меню -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Главная <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'reestr' %}">Реестр</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'object_create' %}">Заполнить карточку</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="events.html" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">График мероприятий</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="#">Создать мероприятие</a>
                  <a class="dropdown-item" href="#">Просмотреть мероприятия</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="srochnie.html">Срочные задачи</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="protocol.html">Протокол</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'support' %}">Поддержка</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <a class="btn btn-outline-danger my-2 my-sm-0" type="submit" href="{% url "login" %}">Войти/Регистрация</a>
            </form>
          </div>
</nav>
{% block content %}


{% endblock %}
</body>

</footer>
</html>