{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<!-- главный блок -->
        <main role="main">
            <div class="jumbotron" >
              <div class="container">
                <h1 class="display-3" style="color: aliceblue;">Система объектов недвижимости</h1>
                <p style="color: aliceblue;">Сервис, позволяющий отслеживать принятые решения и их исполнение</p>
                <p><a class="btn btn-primary btn-lg btn-danger" href="registration.html" role="button" href="registration.html">Присоединиться к системе</a></p>
              </div>
            </div>
            <div class="container">
                <h3 class="display-3">О сервисе</h3>
                <div class="container-fluid pt-5"></div>
                <div class="container"><p>Наш сервис предназначен для тех, кто работает в Государственной инспекции по контролю за использованием объектов недвижимости города Москвы, позволяя Вам следить за статусами объектов недвижимости в режиме онлайн и вовремя принимать решения. Сервис в первую очередь нацелен на систематизацию информации по объектам и принятым решениям, а также позволяет оперативно составлять повестку и вносить изменения в историю объекта. Основными инструментами являются: Реестр, форма для заполнения карточек Реестра, календарь мероприятий, протокол и срочное. Возможности сервиса включают подготовку файлов для печати, о чем можете посмотреть в разделе Поддержка. 
                    Мы предоставляем пользователям удобный и простой инструмент, с помощью которого уменьшится объем работы, связанной с подготовкой повестки для совещания и подведением промежуточных результатов деятельности контрольного органа.</p></div>
              </div>
              <div class="container-fluid pt-5"></div>
      <!-- колонки -->
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <h2>Дорожная карта</h2>
                  <p>Графическое представление данных на дорожной карте. Мы собираем информацию о строительных объектах и отображаем ее на интерактивной карте, что позволяет пользователям быстро и наглядно ознакомиться с общей картиной процесса.</p>
                  <p><a class="btn btn-secondary btn-outline-danger" href="reestr.html" role="button">Перейти</a></p>
                </div>
                <div class="col-md-4">
                  <h2>Дашборд</h2>
                  <p>Дашборд со статистической информацией. В дашборд попадает информация, собранная на основе данных с разных строительных объектов, что дает возможность пользователям следить за статусами всех объектов, а также увидеть общую карту процесса.</p>
                  <p><a class="btn btn-secondary btn-outline-danger" href="reestr.html" role="button">Перейти</a></p>
                </div>
                <div class="col-md-4">
                  <h2>Календарь</h2>
                  <p>Календарь мероприятий. Мы предоставляем календарь, который позволяет пользователям не пропустить даты важных событий на строительных объектах, таких как проверки, сдачи проекта и т. п.</p>
                  <p><a class="btn btn-secondary btn-outline-danger" href="events.html" role="button">Перейти</a></p>
                </div>
              </div>
      
              <hr>
      
            </div>
      
          </main>
{% endblock %}