{% extends 'base.html' %}

{% block title %}Поддержка{% endblock %}


{% block content %}
        <main role="main">
            <div class="jumbotron">
              <div class="container">
                <h1 class="display-3" style="color: aliceblue;">Поддержка</h1>
                <p style="color: aliceblue;">Свяжитесь с нами, и мы обязательно решим Ваш вопрос</p>
              </div>
            </div>

            <div class="col-md-7">
                <div class="contact-wrap w-100 p-md-5 p-4">
                    <h3 class="mb-4">Свяжитесь с нами</h3>
                    <div id="form-message-warning" class="mb-4"></div> 
              <div id="form-message-success" class="mb-4">

              </div>
                    <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label" for="name">ФИО</label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Имя">
                                </div>
                            </div>
                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label class="label" for="email">Email-адресЫ</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label" for="subject">Тема вопроса</label>
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label" for="#">Сообщение</label>
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Текст"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" value="Отправить" class="btn btn-danger">
                                    <div class="submitting"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
</main>

{% endblock %}